# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import json

# Import Google API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)
# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,67.37,70,0,4.00,clear sky
1,1,Bluff,NZ,-46.6000,168.3333,58.80,73,16,10.63,few clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,41.11,60,75,8.05,broken clouds
3,3,Mataura,NZ,-46.1927,168.8643,58.48,52,55,3.47,broken clouds
4,4,Touros,BR,-5.1989,-35.4608,78.17,74,60,12.57,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,67.37,70,0,4.00,clear sky
1,1,Bluff,NZ,-46.6000,168.3333,58.80,73,16,10.63,few clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,41.11,60,75,8.05,broken clouds
3,3,Mataura,NZ,-46.1927,168.8643,58.48,52,55,3.47,broken clouds
4,4,Touros,BR,-5.1989,-35.4608,78.17,74,60,12.57,broken clouds
5,5,Albany,US,42.6001,-73.9662,54.59,83,74,3.11,broken clouds
6,6,Saldanha,ZA,-33.0117,17.9442,63.46,65,25,12.55,scattered clouds
7,7,Embonas,GR,36.2269,27.8564,57.83,53,0,2.01,clear sky
10,10,West Wendover,US,40.7391,-114.0733,31.21,51,0,8.05,clear sky
11,11,Puerto Ayora,EC,-0.7393,-90.3518,68.56,88,89,8.01,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
preferred_cities_df.count()

City_ID                474
City                   474
Country                468
Lat                    474
Lng                    474
Max Temp               474
Humidity               474
Cloudiness             474
Wind Speed             474
Current Description    474
dtype: int64

In [6]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.

clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,67.37,70,0,4.00,clear sky
1,1,Bluff,NZ,-46.6000,168.3333,58.80,73,16,10.63,few clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,41.11,60,75,8.05,broken clouds
3,3,Mataura,NZ,-46.1927,168.8643,58.48,52,55,3.47,broken clouds
4,4,Touros,BR,-5.1989,-35.4608,78.17,74,60,12.57,broken clouds
...,...,...,...,...,...,...,...,...,...,...
667,667,Haapiti,PF,-17.5667,-149.8667,79.72,81,65,9.19,light rain
668,668,Agadir,MA,30.4202,-9.5982,54.05,56,0,3.94,clear sky
669,669,San Jose,US,37.3394,-121.8950,50.86,81,40,3.44,scattered clouds
671,671,Tokat,TR,40.4167,36.5833,37.56,77,0,0.51,clear sky
672,672,Pouebo,NC,-20.4000,164.5667,76.28,70,100,4.29,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

           City Country  Max Temp Current Description      Lat       Lng
0     Cape Town      ZA     67.37           clear sky -33.9258   18.4232
1         Bluff      NZ     58.80          few clouds -46.6000  168.3333
2  Punta Arenas      CL     41.11       broken clouds -53.1500  -70.9167
3       Mataura      NZ     58.48       broken clouds -46.1927  168.8643
4        Touros      BR     78.17       broken clouds  -5.1989  -35.4608

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cape Town,ZA,67.37,clear sky,-33.9258,18.4232,
1,Bluff,NZ,58.80,few clouds,-46.6000,168.3333,
2,Punta Arenas,CL,41.11,broken clouds,-53.1500,-70.9167,
3,Mataura,NZ,58.48,broken clouds,-46.1927,168.8643,
4,Touros,BR,78.17,broken clouds,-5.1989,-35.4608,
5,Albany,US,54.59,broken clouds,42.6001,-73.9662,
6,Saldanha,ZA,63.46,scattered clouds,-33.0117,17.9442,
7,Embonas,GR,57.83,clear sky,36.2269,27.8564,
10,West Wendover,US,31.21,clear sky,40.7391,-114.0733,
11,Puerto Ayora,EC,68.56,overcast clouds,-0.7393,-90.3518,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cape Town,ZA,67.37,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
1,Bluff,NZ,58.80,few clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
2,Punta Arenas,CL,41.11,broken clouds,-53.1500,-70.9167,Hotel Hain
3,Mataura,NZ,58.48,broken clouds,-46.1927,168.8643,Ellie's Villa
4,Touros,BR,78.17,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
5,Albany,US,54.59,broken clouds,42.6001,-73.9662,
6,Saldanha,ZA,63.46,scattered clouds,-33.0117,17.9442,Blue Bay Lodge
7,Embonas,GR,57.83,clear sky,36.2269,27.8564,Hotel Ataviros
10,West Wendover,US,31.21,clear sky,40.7391,-114.0733,"Motel 6 Wendover, UT"
11,Puerto Ayora,EC,68.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"]!="",:]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cape Town,ZA,67.37,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
1,Bluff,NZ,58.80,few clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
2,Punta Arenas,CL,41.11,broken clouds,-53.1500,-70.9167,Hotel Hain
3,Mataura,NZ,58.48,broken clouds,-46.1927,168.8643,Ellie's Villa
4,Touros,BR,78.17,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
6,Saldanha,ZA,63.46,scattered clouds,-33.0117,17.9442,Blue Bay Lodge
7,Embonas,GR,57.83,clear sky,36.2269,27.8564,Hotel Ataviros
10,West Wendover,US,31.21,clear sky,40.7391,-114.0733,"Motel 6 Wendover, UT"
11,Puerto Ayora,EC,68.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Busselton,AU,62.96,scattered clouds,-33.6500,115.3333,Observatory Guest House

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [14]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label= "City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [20]:
# Review the formatting template provided
info_box_template = """

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
  
  
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [24]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [22]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -33.9258   18.4232
1  -46.6000  168.3333
2  -53.1500  -70.9167
3  -46.1927  168.8643
4   -5.1989  -35.4608
6  -33.0117   17.9442
7   36.2269   27.8564
10  40.7391 -114.0733
11  -0.7393  -90.3518
12 -33.6500  115.3333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [23]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))